.show-more {
    display: flex;
    justify-content: space-between;
}

.show-more .show-more__container {
    overflow: hidden;
    max-width: 100%;
}

.show-more__ellipses {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.show-more__button-wrapper {
    display: flex;
    align-items: flex-end;
}

.show-more__button {
    background: gray;
    border-radius: 50%;
    padding: 4px 6px;
    outline: none;
    border: none;
    cursor: pointer;
}